repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.96.1
    hooks:
      - id: terraform_fmt
      - id: terraform_validate
        args:
          - --hook-config=--retry-once-with-cleanup=true
      - id: terraform_tflint
        args:
          - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
      - id: terraform_tfsec
        args:
          - --args=--exclude-downloaded-modules

  - repo: local
    hooks:
      - id: nomad-fmt
        name: Nomad Format
        entry: nomad fmt
        language: system
        files: \.nomad\.hcl$
        pass_filenames: false
        args: ["-check", "-recursive"]
      - id: nomad-validate
        name: Nomad Validate
        entry: bash -c 'for file in "$@"; do nomad job validate "$file" || exit 1; done' --
        language: system
        files: \.nomad\.hcl$
        pass_filenames: true
