Port 2222
ListenAddress 0.0.0.0
ListenAddress ::
HostKey /run/secrets/hermes-workspace/ssh_host_ed25519_key
PidFile /run/sshd/sshd.pid
AllowUsers workspace
AuthenticationMethods publickey
PubkeyAuthentication yes
AuthorizedKeysFile /run/secrets/hermes-workspace/authorized_keys
PasswordAuthentication no
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
PermitEmptyPasswords no
PermitRootLogin no
UsePAM no
HostbasedAuthentication no
GSSAPIAuthentication no
KerberosAuthentication no
DisableForwarding yes
AllowAgentForwarding no
AllowTcpForwarding no
AllowStreamLocalForwarding no
GatewayPorts no
PermitTunnel no
X11Forwarding no
PermitUserEnvironment no
PermitUserRC no
StrictModes yes
UseDNS no
PrintMotd no
PrintLastLog no
LogLevel VERBOSE
Subsystem sftp internal-sftp
